# Exploring Nigeria's Housing Market: A Comprehensive Analysis of Prices, Locations and Features

In [15]:
import pandas as pd
import numpy as np
from collections import Counter

**Load Dataset**

In [3]:
# Upload the car dataset
naija_houses = pd.read_csv(r"C:\Users\USER\Videos\Data Analytics\Case Studies\Nigerian Houses Analysis\nigeria_houses.csv")

In [4]:
naija_houses.head(10)

,bedrooms,bathrooms,toilets,parking_space,title,town,state,price
0,6.0,5.0,5.0,4.0,Detached Duplex,Mabushi,Abuja,450000000.0
1,4.0,5.0,5.0,4.0,Terraced Duplexes,Katampe,Abuja,800000000.0
2,4.0,5.0,5.0,4.0,Detached Duplex,Lekki,Lagos,120000000.0
3,4.0,4.0,5.0,6.0,Detached Duplex,Ajah,Lagos,40000000.0
4,4.0,4.0,5.0,2.0,Semi Detached Duplex,Lekki,Lagos,75000000.0
5,5.0,5.0,6.0,1.0,Detached Duplex,Lekki,Lagos,450000000.0
6,4.0,5.0,5.0,4.0,Detached Duplex,Lekki,Lagos,65000000.0
7,2.0,2.0,3.0,6.0,Detached Bungalow,Epe,Lagos,12000000.0
8,1.0,1.0,1.0,1.0,Detached Duplex,Lekki,Lagos,200000000.0
9,4.0,4.0,5.0,5.0,Detached Duplex,Ajah,Lagos,60000000.0

In [5]:
naija_houses.isnull().sum()

bedrooms         0
bathrooms        0
toilets          0
parking_space    0
title            0
town             0
state            0
price            0
dtype: int64

In [6]:
naija_houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24326 entries, 0 to 24325
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bedrooms       24326 non-null  float64
 1   bathrooms      24326 non-null  float64
 2   toilets        24326 non-null  float64
 3   parking_space  24326 non-null  float64
 4   title          24326 non-null  object
 5   town           24326 non-null  object
 6   state          24326 non-null  object
 7   price          24326 non-null  float64
dtypes: float64(5), object(3)
memory usage: 1.5+ MB

**Restructure the column title naming format**

In [9]:
naija_houses = naija_houses.rename(
    columns= {
        'bedrooms':'Bedrooms',
        'bathrooms':'Bathrooms',
        'toilets': 'Toilets',
        'parking_space': 'Parking Space',
        'title': 'Title',
        'town': 'Town',
        'state': 'Town',
        'price': 'Price'
    }
)

naija_houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24326 entries, 0 to 24325
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Bedrooms       24326 non-null  float64
 1   Bathrooms      24326 non-null  float64
 2   Toilets        24326 non-null  float64
 3   Parking Space  24326 non-null  float64
 4   Title          24326 non-null  object
 5   Town           24326 non-null  object
 6   Town           24326 non-null  object
 7   Price          24326 non-null  float64
dtypes: float64(5), object(3)
memory usage: 1.5+ MB

**For Bedrooms**

Dig deep and look for insights here.

In [11]:
naija_houses['Bedrooms'].max()

9.0

In [13]:
# Remove the .0 at the end of each number.by converting float figures to integers
naija_houses['Bedrooms'] = naija_houses['Bedrooms'].astype(int)
print(naija_houses['Bedrooms'])

0        6
1        4
2        4
3        4
4        4
        ..
24321    2
24322    4
24323    4
24324    3
24325    4
Name: Bedrooms, Length: 24326, dtype: int32

In [16]:
# This specifies the specific number of each type of room
Counter(naija_houses['Bedrooms'])

Counter({6: 1290,
         4: 8907,
         5: 9125,
         2: 942,
         1: 370,
         3: 3010,
         8: 169,
         9: 163,
         7: 350})

**For Bathrooms**

Dig deep and look for insights here.

In [20]:
naija_houses['Bathrooms'].max()
naija_houses['Bathrooms'].min()

1.0